.health-section {
    position: fixed; /* Keep the section fixed on the page */
    top: 45%; /* Position in the middle of the screen vertically */
    right: 1%; /* Position close to the right side of the screen */
    
    width: 580px; /* Adjust width as needed */
    height: 750px;
     /* Add padding */
     background-color: #b4b2b2; /* Set a background color */
    border: 1px solid #161515; /* Add a border */
    border-radius: 4px; /* Add rounded corners */
    
    
  }
  
  .health-section h3 {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    background-color: #ddd;
    border-bottom: 1px solid #161515; /* Add a border below the heading */
  }
  
  .health-section p {
    margin: 0; /* Remove margin from the paragraph */
    padding: 5px
  }
  
  /* Health bar container */
  .health-bar-container {
    margin-top: 10px;
    padding: 2px;
    width: 100%; /* Full width of the container */
    height: 20px; /* Adjust height as needed */
    background-color: #e0e0e0; /* Light grey background color */
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 10px; /* Margin below the health bar */
  }
  
  /* Health bar itself */
  .health-bar {
    height: 100%; /* Full height of the container */
    background-color: #4caf50; /* Green color for the health bar */
    border-radius: 10px; /* Match the border-radius of the container */
  }
  