.three-d-object {
  position: fixed;
  top: calc(50% + 60px); /* Adjusted to 50% + navbar height */
  left: 38%; /* Adjusted for centering */
  transform: translate(-50%, -50%);
  width: 75vw; /* Changed to be 40% of the viewport width */
  height: 85vh; /* Adjusted to be the same as width */
  pointer-events: none;
}
