/* CSS file: Vertical3DModels.css */

/* Main container for the component */
.vertical-3d-models {
  display: fixed;
  flex-direction: column;
  /* Full height of the viewport */
  
}

/* Canvas container for each GLB model */
.canvas-container {
  /* Allow each canvas container to take up half the height of the main container */  
  background-color: bisque;
  display: fixed;
  justify-content: center; /* Center the canvas horizontally */
  margin-bottom: 10px;
  align-items: center; /* Center the canvas vertically */
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 5px solid transparent;
  border-radius: 10px;
  transition: border-color 0.4s ease;
}
.canvas-container.selected {
  border-color: rgb(73, 137, 255);
  border-radius: 10px; /* Change this color to whatever you want for the indicator */
}
/* Style for the Canvas elements */
.canvas-container canvas {
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */

}
